/* src/App.css */

:root {
  --background-color: #121212;
  --text-color: #ffffff;
  --navbar-background: #1f1f1f;
  --list-background: #1e1e1e;
  --button-background: #61dafb;
}

.light-theme {
  --background-color: #ffffff;  /* Color de fondo claro */
  --text-color: #000000;        /* Color de texto oscuro */
  --navbar-background: #f8f9fa; /* Fondo claro para la barra de navegación */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 20px;
}

h1, h2, h3 {
  color: var(--text-color);
}

.navbar {
  background-color: var(--navbar-background);
}

.navbar-brand, .nav-link {
  color: var(--text-color) !important;
}

.nav-link:hover {
  color: var(--button-background) !important;
}

.list-group-item {
  background-color: var(--list-background);
  color: var(--text-color);
  border: 1px solid #333;
}

.list-group-item:hover {
  background-color: #333;
}

.form-label, .form-control {
  color: var(--text-color);
  background-color: var(--list-background);
  border: 1px solid #333;
}

.btn {
  background-color: var(--button-background);
  color: #121212;
}

.btn:hover {
  background-color: #4db8e1;
}
